body {
    background-image: url("option1.jpg") ;
    background-repeat: no-repeat;
    background-size:     cover;    
}

#first_page{
    text-align: center;
    font-size: large;
    font-style: tahoma;
    height: 20px;
   
}

#second_page{
    text-align: center;
    font-size: large;
    font-style: tahoma;
    height: 20px;
}
/* 
#check{
    ;
} */